{% extends 'base.html' %}

{% block navbaricon %}
  {% load static %}
  <img src="{% static "movie_crud/img/123.png" %}" alt="" width="30" height="30" class="d-inline-block align-text-top"/>
{% endblock navbaricon %}

{% block content %}
  <h1>게시판</h1>
  <div class="table-responsive input-group mb-3 px-3 justify-content-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">리뷰 제목</th>
          <th scope="col">리뷰 내용</th>
          <th scope="col">영화 이름</th>
          <th scope="col">영화 평점</th>
          <th scope="col">리뷰 수정</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
        
          <div>
          <tr>
            <th scope="row">{{ review.pk }}</th>
            <td><a href="{% url 'movie_crud:detail' review.pk %}">{{ review.title }}</a></td>
            <td>{{ review.content }}</td>
            <td>{{ review.movie_name }}</td>
            <td>{{ review.grade }}</td>
            <td>{{ review.updated_at|date:"y/m/d  H:i" }}</td>
            <td>
              <a class="btn btn-primary py-sm-1" href="{% url 'movie_crud:update' review.pk %}" role="button">변경</a>
            </td>
            <td>
              <a class="btn btn-danger py-sm-1" href="{% url 'movie_crud:delete' review.pk %}" role="button">삭제</a>
            </td>
          </tr>
          </div>
        
        {% endfor %}
      </tbody>
    </table>
    <div class="d-flex">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  </div>
      {% comment %} <a href="{% url 'movie_crud:detail' review.pk %}">
        <div>
          <p>{{ review.title }}</p>
          <p>{{ review.movie_name }}</p>
        </div>
       {% endcomment %}
{% endblock %}
