{% extends 'base.html' %}

{% block navbaricon %}
  {% load static %}
  <img src="{% static "movie_crud/img/123.png" %}" alt="" width="30" height="30" class="d-inline-block align-text-top"/>
{% endblock navbaricon %}

{% block content %}
  <h1>게시판</h1>
  <div class="table-responsive input-group justify-content-center">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">리뷰 제목</th>
          <th scope="col">리뷰 내용</th>
          <th scope="col">영화 이름</th>
          <th scope="col">영화 평점</th>
          <th scope="col">리뷰 수정</th>
        </tr>
      </thead>
      <tbody>
        {% for review in reviews %}
          <tr>
            <th scope="row">{{ review.pk }}</th>
            <td>
              <a href="{% url 'movie_crud:detail' review.pk %}">{{ review.title }}</a>
            </td>
            <td>{{ review.content }}</td>
            <td>{{ review.movie_name }}</td>
            <td>{{ review.grade }}</td>
            <td>{{ review.updated_at|date:"y/m/d  H:i" }}</td>
            <td>
              <a class="btn btn-primary py-sm-1" href="{% url 'movie_crud:update' review.pk %}" role="button">변경</a>
            </td>
            <td>
              <a class="btn btn-danger py-sm-1" href="{% url 'movie_crud:delete' review.pk %}" role="button">삭제</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-4 d-flex justify-content-end">
      <a class="btn btn-secondary" href="{% url 'movie_crud:create' %}" role="button" style="height: 2.5rem">리뷰작성</a>
    </div>
  </div>
  <script src="{% static 'movie_crud/js/movie_crud.js' %}"/>
{% endblock %}
