{% extends 'base.html' %}

{% block navbaricon %}
  {% load static %}
  <img src="{% static "movie_crud/123.png" %}" alt="" width="30" height="30" class="d-inline-block align-text-top"/>
{% endblock navbaricon %}

{% block content %}
  <div class="mb-3 px-3">
    <h1>메인페이지</h1>
    <a href="{% url 'movie_crud:index' %}"><input class="btn btn-primary" type="submit" value="리뷰 목록"></a>
    <a href="{% url 'movie_crud:create' %}"><input class="btn btn-primary" type="submit" value="리뷰 작성"></a>
  </div>
{% endblock %}
