{% extends 'base.html' %}

{% block navbaricon %}
  {% load static %}
  <img src="{% static "movie_crud/img/123.png" %}" alt="" width="30" height="30" class="d-inline-block align-text-top"/>
{% endblock navbaricon %}

{% block content %}
  <!-- 페이지 설명 -->
  {% if request.resolver_match.url_name == 'create' %}
    <h1>리뷰작성하기</h1>
  {% else %}
    <h1>수정하기</h1>
  {% endif %}

  <!-- 제출 폼 -->
  {% load django_bootstrap5 %}
  <form action="" method='POST'>
    {% csrf_token %}
    <!-- 부트스트랩 리뷰폼 -->
    {% bootstrap_form review_form %}

    <!-- 수제 리뷰폼 -->
    {% comment %} {% for field in review_form %}
      <div>
        {{ field.label_tag }}
      </div>
      {{ field }}
      {{ field.errors }}
    {% endfor %} {% endcomment %}

    <!-- 작성/ 수정 버튼 -->
    {% if request.resolver_match.url_name == 'create' %}
      {% bootstrap_button content='리뷰작성' button_type='submit' button_class="btn-primary" %}
    {% else %}
      {% bootstrap_button content='수정하기' button_type='submit' button_class="btn-primary" %}
    {% endif %}

  </form>
  <script src="{% static 'movie_crud/js/movie_crud.js' %}"/>
{% endblock %}
